<app-menu titulo="Detalle de la Agencia"></app-menu>

<div class="fluid-container">
    <div class="alert alert-success" role="alert" *ngIf="showMensaje">
        Datos Actualizados.
    </div>
</div>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group mb-3">
            <label for="">Nombre de Agencia</label>
            <input type="text" class="form-control" formControlName="nombreAgencia">
        </div>

        <div class="form-group mb-3">
            <label for="">Dirección</label>
            <textarea name="" class="form-control" cols="30" rows="3" formControlName="direccion"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="">Distrito</label>
            <input type="text" class="form-control" formControlName="distrito">
        </div>

        <div class="form-group mb-3">
            <label for="">Latitud</label>
            <input type="text" class="form-control" formControlName="latitud">
        </div>

        <div class="form-group mb-3">
            <label for="">Longitud</label>
            <input type="text" class="form-control" formControlName="longitud">
        </div>



        <button type="submit" class="btn btn-primary">Actualizar</button>

    </form>
</div>

<ngx-loading
    [show]="loading"
    [config]="{
        animationType: ngxLoadingAnimationTypes.circle,
        primaryColour: '#ffffff',
        secondaryColour: '#ccc',
        backdropBorderRadius: '3px'
    }"
    [template]="loadingTemplate"
></ngx-loading>